<ion-view class="shopCart">
    <ion-header-bar class="bar-calm" align-title="center">
        <div class="button button-icon ion-arrow-left-c" ui-sref="tabs.sellers">更多美食</div>
        <h1 class="title">确认订单</h1>
    </ion-header-bar>
    <ion-content class="stable-bg has-header has-footer">
        <ion-list class="list-borderless text-center" ng-hide="totalNumber()">
            <ion-item class="nothing stable-bg">
                <img src="images/error-load.png">
                <h2>您的购物车是空的</h2>
                <a class="button button-calm" ui-sref="tabs.shopping">前去下单</a>
            </ion-item>
        </ion-list>
        <ion-list ng-show="totalNumber()">
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-location calm"></i>
                <p>请添加一个收货地址</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
        <ion-list class="list-inset" ng-show="totalNumber()">
            <ion-item>
                <h2>
                    送达时间
                    <span class="item-note">尽快送达 ></span>
                </h2>
            </ion-item>
        </ion-list>
        <ion-list class="list-inset" ng-show="totalNumber()">
            <ion-item>
                <h2>
                    支付方式
                    <span class="item-note">在线支付 ></span>
                </h2>
            </ion-item>
            <ion-item>
                <h2>
                    我的红包
                    <span class="item-note">红包优惠{{gift|currency:"￥"}}圆 ></span>
                </h2>
            </ion-item>
        </ion-list>
        <ion-list class="list-inset" ng-show="totalNumber()">
            <ion-item>
                <h2>
                    已点餐品
                </h2>
            </ion-item>
            <ion-item ng-repeat="food in cartData">
                <p>
                    {{food.product.name}}
                    <span class="item-note">
                        x{{food.number}} {{food.product.price|currency:"￥"}}
                    </span>
                </p>
            </ion-item>
            <ion-item>
                <h2>
                    待支付 <span class="assertive">{{totalMoney()-gift|currency:"￥"}}元</span>
                    <span class="item-note">订单共：{{totalNumber()}}件商品 {{totalMoney()|currency:"￥"}}</span>
                </h2>
            </ion-item>
        </ion-list>
        <ion-list ng-show="totalNumber()">
            <ion-item>
                <h2>
                    订单备注
                    <span class="item-note">口味、偏好等 ></span>
                </h2>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar ng-show="totalNumber()">
        <a class="button button-assertive" ng-click="clearCart()">清空购物车</a>
        <a class="button button-calm" ng-click="showConfirm()">完成付款</a>
    </ion-footer-bar>
</ion-view>