<ion-tabs class="tabs-stable tabs-icon-top" id="foodsOrderTabs" ng-controller="shopCartCtrl">
	<ion-tab title="首页" icon-on="ion-ios-home assertive"
			 icon-off="ion-ios-home-outline"
			 ui-sref="tabs.home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="美食" icon-on="ion-fork assertive"
			 icon-off="ion-fork"
			 ui-sref="tabs.sellers">
		<ion-nav-view name="tab-sellers"></ion-nav-view>
	</ion-tab>
	<ion-tab title="订单"
			 icon-on="ion-clipboard assertive"
			 icon-off="ion-clipboard"
			 ui-sref="tabs.orderList">
		<ion-nav-view name="tab-orderList"></ion-nav-view>
	</ion-tab>
	<ion-tab title="购物车"
			 icon-on="ion-ios-cart assertive"
			 icon-off="ion-ios-cart"
			 ui-sref="tabs.shopCart">
		<ion-nav-view name="tab-shopCart"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我的"
			 icon-on="ion-android-person assertive"
			 icon-off="ion-android-person"
			 ui-sref="tabs.mine">
		<ion-nav-view name="tab-mine"></ion-nav-view>
	</ion-tab>
</ion-tabs>