<ion-view class="mine">
	<ion-header-bar class="bar-calm" align-title="left">
		<h1 class="title">我的</h1>
		<div class="buttons">
			<a class="button button-clear ion-ios-bell"></a>
			<a class="button button-clear ion-ios-gear"></a>
		</div>
	</ion-header-bar>
	<ion-content class="has-header">
		<ion-list class="user">
			<ion-item class="calm-bg item-avatar-left item-button-right item-borderless user-info">
				<img src="images/home/icon_01.png">
				<h3 class="light">lichao</h3>
				<p>
					<i class="icon ion-android-phone-portrait light"></i>
					15527336002
				</p>
				<div class="button button-clear ion-ios-arrow-right"></div>
			</ion-item>
			<ion-item class="row text-center">
				<div class="col balan">
					<p><span>1538.60</span>元</p>
					<p>余额</p>
				</div>
				<div class="col gift">
					<p><span>15</span>个</p>
					<p>红包</p>
				</div>
				<div class="col integral balanced">
					<p><span>12345</span>分</p>
					<p>积分</p>
				</div>
			</ion-item>
		</ion-list>
		<ion-list class="list-inset">
			<ion-item class="item-icon-left" ui-sref="tabs.address">
				<i class="icon ion-location calm"></i>
				<p>收货地址</p>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-heart assertive"></i>
				<p>我的收藏</p>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-images calm"></i>
				<p>美食相册</p>
			</ion-item>
		</ion-list>
		<ion-list class="list-inset">
			<ion-item class="item-icon-left">
				<i class="icon ion-bag balanced"></i>
				<p>积分商城<span class="item-note">0圆好物在这里</span></p>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-social-vimeo energized"></i>
				<p>会员</p>
			</ion-item>
		</ion-list>
		<ion-list class="list-inset">
			<ion-item class="item-icon-left">
				<i class="icon ion-playstation assertive"></i>
				<p>玩游戏领红包<a class="item-note">大红包任性领</a></p>
			</ion-item>
		</ion-list>
		<ion-list class="list-inset">
			<ion-item class="item-icon-left">
				<i class="icon ion-ios-rose calm"></i>
				<p>服务中心</p>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-thumbsup calm"></i>
				<p>欢迎评分</p>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-ios-home calm"></i>
				<p>加盟合作</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>