<ion-view class="address stable-bg">
    <ion-header-bar class="bar-calm">
        <div class="button button-icon ion-arrow-left-c" ui-sref="tabs.mine"></div>
        <h1 class="title">我的地址</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-item>
                <p>我猜你在：<span class="assertive">火星时代</span></p>
            </ion-item>
        </ion-list>
        <ion-list class="list-inset">
            <ion-item>
                <p>当前定位城市： <span class="item-note">定位不准时，请在城市列表中选择</span></p>
            </ion-item>
            <ion-item class="item-icon-right">
                <h2 class="guessIn calm" style="font-size: 28px; font-weight: bolder;">深圳</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
        <ion-list class="list-inset">
            <ion-item>
                <p>热门城市：</p>
            </ion-item>
            <ion-item class="row row-wrap text-center">
                <a class="button button-light positive col col-25">北京</a>
                <a class="button button-light positive col col-25">上海</a>
                <a class="button button-light positive col col-25">广州</a>
                <a class="button button-light positive col col-25">深圳</a>
                <a class="button button-light positive col col-25">杭州</a>
                <a class="button button-light positive col col-25">重庆</a>
                <a class="button button-light positive col col-25">天津</a>
                <a class="button button-light positive col col-25">南京</a>
            </ion-item>
        </ion-list>
        <ion-list class="list-inset hot">
            <ion-item>
                <p>A<span class="note">（按字母排序）</span> </p>
            </ion-item>
            <ion-item class="row row-wrap text-center">
                <a class="button button-light positive col col-25">安宁</a>
                <a class="button button-light positive col col-25">安化</a>
                <a class="button button-light positive col col-25">安岳</a>
                <a class="button button-light positive col col-25">安阳</a>
                <a class="button button-light positive col col-25">安康</a>
                <a class="button button-light positive col col-25">安顺</a>
                <a class="button button-light positive col col-25">安乡</a>
                <a class="button button-light positive col col-25">安仁</a>
                <a class="button button-light positive col col-25">安宁</a>
                <a class="button button-light positive col col-25">安化</a>
                <a class="button button-light positive col col-25">安岳</a>
                <a class="button button-light positive col col-25">安阳</a>
                <a class="button button-light positive col col-25">安康</a>
                <a class="button button-light positive col col-25">安顺</a>
                <a class="button button-light positive col col-25">安乡</a>
                <a class="button button-light positive col col-25">安仁</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>